/* my custom bootstrap css*/

.container {width: 900px;}
.header {background-color: #bbb;}
.footer {background-color: #aaa; height}
.dash{background-color: #ccc;}
.up{background-color: #ddd;}
.contents {height: 500px;}